@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">VincentA55 MVC Movies</h1>
    <h4>by Vincent Assolutissimamente</h4>
</div>

<div>
    <a class="btn btn-primary" asp-controller="Movies" asp-action="Index">Movie App</a>

</div>
